html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: FuturaLight;
	color: #000;
	text-decoration: none;
	list-style-type: none;
}

@font-face {
	font-family: FuturaLight;
	src: url(Futura/FuturaPTLight.otf);
}

@font-face {
	font-family: FuturaMedium;
	src: url(Futura/FuturaPTMedium.otf);
}

@media only screen and (min-width: 320px) {

	h1 {
		font-size: 5em;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	h2 {
		font-size: 3em;
		color: #fff;
	}
	
	.wrapper {
		display: flex;
		justify-content: center;
		background-color: #314757;
	}
	
	.content {
		width: 90vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.content div {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	
	.title {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.img {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.img img {
		width: 100%;
		height: 100%;
	}
	
	.text {
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.text p {
		width: 90vw;
		font-size: 1.3em;
		color: #fff;
	}
	
	.text p, .text h2 {
		padding-bottom: 3vh; 
	}
	
	.icons {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.icons a {
		width: 40vw;
		display: flex;
		justify-content: center;
	}
	
	.icons img {
		width: 60%;
		height: 60%;
		border-bottom: 1px solid #314757;
	}
	
	.icons img:hover {
		border-bottom: 1px solid #fff;
	}

}

@media only screen and (min-width: 480px) {

	h1 {
		font-size: 5em;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	h2 {
		font-size: 3em;
		color: #fff;
	}
	
	.wrapper {
		display: flex;
		justify-content: center;
		background-color: #314757;
	}
	
	.content {
		width: 90vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.content div {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	
	.title {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.img {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.img img {
		width: 100%;
		height: 100%;
	}
	
	.text {
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.text p {
		width: 80vw;
		font-size: 1.3em;
		color: #fff;
	}
	
	.text p, .text h2 {
		padding-bottom: 3vh; 
	}
	
	.icons {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.icons a {
		width: 35vw;
		display: flex;
		justify-content: center;
	}
	
	.icons img {
		width: 60%;
		height: 60%;
		border-bottom: 1px solid #314757;
	}
	
	.icons img:hover {
		border-bottom: 1px solid #fff;
	}

}

@media only screen and (min-width: 768px) {

	h1 {
		font-size: 5em;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	h2 {
		font-size: 3em;
		color: #fff;
	}
	
	.wrapper {
		display: flex;
		justify-content: center;
		background-color: #314757;
	}
	
	.content {
		width: 90vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.content div {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	
	.title {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.img {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.img img {
		width: 100%;
		height: 100%;
	}
	
	.text {
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.text p {
		width: 80vw;
		font-size: 1.3em;
		color: #fff;
	}
	
	.text p, .text h2 {
		padding-bottom: 3vh; 
	}
	
	.icons {
		width: 90vw;
		display: flex;
		justify-content: center;
	}
	
	.icons a {
		width: 30vw;
		display: flex;
		justify-content: center;
	}
	
	.icons img {
		width: 50%;
		height: 50%;
		border-bottom: 1px solid #314757;
	}
	
	.icons img:hover {
		border-bottom: 1px solid #fff;
	}

}

@media only screen and (min-width: 992px) {

	h1 {
		font-size: 5em;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	h2 {
		font-size: 3em;
		color: #fff;
	}
	
	.wrapper {
		display: flex;
		justify-content: center;
		background-color: #314757;
	}
	
	.content {
		width: 80vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.content div {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	
	.title {
		width: 80vw;
		display: flex;
		justify-content: center;
	}
	
	.img {
		width: 80vw;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.img img {
		width: 50%;
		height: 100%;
	}

	.filler {
		display: none;
	}
	
	.text {
		width: 80vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.text p {
		width: 50vw;
		font-size: 1.3em;
		color: #fff;
	}
	
	.text p, .text h2 {
		padding-bottom: 3vh; 
	}
	
	.icons {
		width: 80vw;
		display: flex;
		justify-content: center;
	}
	
	.icons a {
		width: 10vw;
		display: flex;
		justify-content: center;
	}
	
	.icons img {
		width: 60%;
		height: 60%;
		border-bottom: 1px solid #314757;
	}
	
	.icons img:hover {
		border-bottom: 1px solid #fff;
	}

}

@media only screen and (min-width: 1200px) {

	h1 {
		font-size: 5em;
		color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	h2 {
		font-size: 3em;
		color: #fff;
	}
	
	.wrapper {
		display: flex;
		justify-content: center;
		background-color: #314757;
	}
	
	.content {
		width: 80vw;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	
	.content div {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	
	.title {
		width: 80vw;
		display: flex;
		justify-content: center;
	}
	
	.img {
		width: 80vw;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.img img {
		width: 50%;
		height: 100%;
	}

	.filler {
		display: none;
	}
	
	.text {
		width: 80vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.text p {
		width: 50vw;
		font-size: 1.3em;
		color: #fff;
	}
	
	.text p, .text h2 {
		padding-bottom: 3vh; 
	}
	
	.icons {
		width: 80vw;
		display: flex;
		justify-content: center;
	}
	
	.icons a {
		width: 10vw;
		display: flex;
		justify-content: center;
	}
	
	.icons img {
		width: 60%;
		height: 60%;
		border-bottom: 1px solid #314757;
	}
	
	.icons img:hover {
		border-bottom: 1px solid #fff;
	}

}